@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap");
/* line 1, scss/base/_reset.scss */
body, h1, h2, h3, h4, p {
  margin: 0; }

/* line 5, scss/base/_reset.scss */
*, *::before, *::after {
  box-sizing: border-box; }

/* line 9, scss/base/_reset.scss */
input, button, textarea {
  border: none; }

/* line 13, scss/base/_reset.scss */
input:focus, button:focus {
  outline: none; }

/* line 17, scss/base/_reset.scss */
a {
  text-decoration: none; }

/* line 3, scss/abstract/_typogrphy.scss */
html {
  font-family: 'Roboto', 'sans-serif'; }

/* line 1, scss/component/_card.scss */
.task {
  background: #F2F2F2;
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden; }

/* line 8, scss/component/_card.scss */
.d-none {
  display: none; }

/* line 12, scss/component/_card.scss */
.mb-24 {
  margin-bottom: 24px; }

/* line 1, scss/component/card-component/_title.scss */
.task-title {
  padding: 10px 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* line 7, scss/component/card-component/_title.scss */
.major-task-bg {
  background: #FFF2DC; }

/* line 10, scss/component/card-component/_title.scss */
.task-name {
  display: inline-block;
  vertical-align: middle;
  background: inherit; }

/* line 15, scss/component/card-component/_title.scss */
.task-name, .task-name::placeholder {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: #000; }

@media all and (min-width: 768px) {
  /* line 20, scss/component/card-component/_title.scss */
  .task-title {
    padding: 20px 32px; }
  /* line 23, scss/component/card-component/_title.scss */
  .task-name, .task-name::placeholder {
    font-size: 24px; } }

/* line 1, scss/component/card-component/_button.scss */
.task-btn {
  font-size: 0; }
  /* line 3, scss/component/card-component/_button.scss */
  .task-btn-basic {
    width: 50%;
    font-size: 14px;
    line-height: 2.5;
    font-weight: 300;
    cursor: pointer; }
    /* line 9, scss/component/card-component/_button.scss */
    .task-btn-basic i {
      margin-right: 5px; }
  /* line 13, scss/component/card-component/_button.scss */
  .task-btn-cancel {
    background: #fff;
    color: #D0021B; }
    /* line 16, scss/component/card-component/_button.scss */
    .task-btn-cancel:hover, .task-btn-cancel:active {
      background: #D0021B;
      color: #fff; }
  /* line 21, scss/component/card-component/_button.scss */
  .task-btn-save {
    background: #4A90E2;
    color: #fff; }
    /* line 24, scss/component/card-component/_button.scss */
    .task-btn-save:hover, .task-btn-save:active {
      background: #fff;
      color: #4A90E2;
      border-left: 1px solid #E1E1E1; }

@media all and (min-width: 768px) {
  /* line 34, scss/component/card-component/_button.scss */
  .task-btn-basic {
    font-size: 24px; } }

/* line 1, scss/component/card-component/_checkbox.scss */
.checkbox {
  display: inline-block; }

/* line 4, scss/component/card-component/_checkbox.scss */
.ckeck-itself {
  display: none; }

/* line 7, scss/component/card-component/_checkbox.scss */
.ckeck-custom {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  padding: 2px 3px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  color: #fff; }

/* line 17, scss/component/card-component/_checkbox.scss */
.ckeck-itself:checked ~ .ckeck-custom {
  background: #4A90E2; }

@media all and (min-width: 768px) {
  /* line 22, scss/component/card-component/_checkbox.scss */
  .ckeck-custom {
    font-size: 18px;
    margin-right: 5px; } }

/* line 1, scss/component/card-component/_mark.scss */
.task-mark {
  padding-top: 5px; }
  /* line 3, scss/component/card-component/_mark.scss */
  .task-mark-star {
    display: inline-block;
    padding-right: 8px; }
    /* line 6, scss/component/card-component/_mark.scss */
    .task-mark-star-shiny {
      display: inline-block;
      padding-right: 8px;
      color: #F5A623; }
  /* line 12, scss/component/card-component/_mark.scss */
  .task-mark-pen {
    display: inline-block;
    color: #C8C8C8; }

/* line 17, scss/component/card-component/_mark.scss */
.invisible {
  display: none; }

/* line 20, scss/component/card-component/_mark.scss */
.current-pen {
  color: #4A90E2; }

@media all and (min-width: 768px) {
  /* line 25, scss/component/card-component/_mark.scss */
  .task-mark {
    font-size: 24px; }
    /* line 27, scss/component/card-component/_mark.scss */
    .task-mark-mark-star, .task-mark-mark-star-shiny {
      padding-right: 15px; } }

/* line 1, scss/component/card-component/_tag.scss */
.task-tag {
  flex: 0 0 100%;
  padding-left: 25px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: regular;
  line-height: 1.2;
  color: #757575; }
  /* line 6, scss/component/card-component/_tag.scss */
  .task-tag .tag-item {
    display: inline-block;
    margin-right: 5px; }
    /* line 9, scss/component/card-component/_tag.scss */
    .task-tag .tag-item time {
      padding-left: 5px; }

@media all and (min-width: 768px) {
  /* line 16, scss/component/card-component/_tag.scss */
  .task-tag {
    padding-left: 37px;
    margin-top: 8px;
    font-size: 18px; }
    /* line 20, scss/component/card-component/_tag.scss */
    .task-tag .tag-item {
      margin-right: 12px; } }

/* line 1, scss/component/card-component/_form.scss */
.task-form {
  padding: 25px 38px 0 38px;
  border-top: 1px solid #C8C8C8; }
  /* line 4, scss/component/card-component/_form.scss */
  .task-form-item {
    margin-bottom: 20px; }
    /* line 6, scss/component/card-component/_form.scss */
    .task-form-item h3 {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.6;
      color: #000; }
      /* line 9, scss/component/card-component/_form.scss */
      .task-form-item h3 i {
        padding-right: 5px; }
    /* line 13, scss/component/card-component/_form.scss */
    .task-form-item input {
      line-height: 28px;
      padding-left: 5px;
      width: 35%;
      min-width: 120px; }
      /* line 18, scss/component/card-component/_form.scss */
      .task-form-item input:first-child {
        margin-bottom: 5px; }
    /* line 22, scss/component/card-component/_form.scss */
    .task-form-item form, .task-form-item .file-add, .task-form-item textarea {
      margin: 0 18px; }
    /* line 25, scss/component/card-component/_form.scss */
    .task-form-item .file-add-button {
      padding: 6px 8px;
      background: #C8C8C8;
      border-radius: 1px;
      color: #fff;
      cursor: pointer; }
      /* line 31, scss/component/card-component/_form.scss */
      .task-form-item .file-add-button:active, .task-form-item .file-add-button:hover {
        background: #4A90E2; }
    /* line 35, scss/component/card-component/_form.scss */
    .task-form-item .file-caption {
      display: none; }
    /* line 38, scss/component/card-component/_form.scss */
    .task-form-item textarea {
      width: calc(100% - 18px);
      height: 120px;
      padding: 8px 18px; }
      /* line 42, scss/component/card-component/_form.scss */
      .task-form-item textarea::placeholder {
        color: #C8C8C8; }

@media all and (min-width: 768px) {
  /* line 50, scss/component/card-component/_form.scss */
  .task-form {
    padding: 25px 68px 0 68px; }
    /* line 53, scss/component/card-component/_form.scss */
    .task-form-item h3 {
      font-size: 20px; }
    /* line 56, scss/component/card-component/_form.scss */
    .task-form-item input {
      min-width: 140px; }
    /* line 59, scss/component/card-component/_form.scss */
    .task-form-item input, .task-form-item textarea {
      font-size: 14px; } }

/* line 1, scss/layout/_substrate.scss */
body {
  background: #E1E1E1; }
  /* line 3, scss/layout/_substrate.scss */
  body main {
    padding: 24px 5% 46px 5%; }
    @media all and (min-width: 576px) {
      /* line 3, scss/layout/_substrate.scss */
      body main {
        padding: 24px 20% 46px 20%; } }

/* line 1, scss/layout/_header.scss */
.body-header {
  background: #4A90E2;
  display: flex;
  justify-content: space-between; }

/* line 6, scss/layout/_header.scss */
.label-link {
  text-align: center;
  flex: 0 0 25%;
  margin: 0 2%;
  padding: 20px 0;
  font-size: 14px;
  font-weight: regular;
  line-height: 1.4;
  color: #00408B; }

/* line 13, scss/layout/_header.scss */
.current {
  color: #fff;
  box-shadow: inset 0 -3px #00408B; }

@media all and (min-width: 576px) {
  /* line 19, scss/layout/_header.scss */
  .body-header {
    padding: 0 20%; } }

/* line 1, scss/layout/_in-progress.scss */
.add {
  margin-bottom: 24px; }

/* line 5, scss/layout/_in-progress.scss */
.add-form {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  padding: 5px;
  font-size: 0; }
  /* line 11, scss/layout/_in-progress.scss */
  .add-form button, .add-form input::placeholder {
    font-size: 14px;
    font-weight: regular;
    line-height: 1.6;
    color: #E1E1E1; }
  /* line 14, scss/layout/_in-progress.scss */
  .add-form button {
    display: inline-block;
    vertical-align: middle;
    background: inherit; }
    /* line 18, scss/layout/_in-progress.scss */
    .add-form button:active {
      color: #C8C8C8; }
  /* line 22, scss/layout/_in-progress.scss */
  .add-form input {
    display: inline-block;
    vertical-align: middle; }

@media all and (min-width: 992px) {
  /* line 30, scss/layout/_in-progress.scss */
  .add-form button, .add-form input, .add-form input::placeholder {
    font-size: 24px; } }
