@use '../abstract/color';
@use '../abstract/breakpoint' as *;

header {
    display: flex;
    padding: 12px 0;
    position: relative;
    justify-content: center;
    text-align: center;
    background: color.$color-blue100;
    @include ipad {
        padding: 24px 100px;
    }
    @include desktop {
        padding: 24px 180px;
    }
    a {
        flex: 1 1 auto;
        height: 28px;
        color: color.$color-blue200;
        font-size: 16px;
        &:hover {
            color: white;
        }
        @include ipad {
            font-size: 24px;
        }
        @include desktop {
            width: 220px;
            height: 28px;
            font-size: 24px;
        }
    }
    // hr {
    //     width: 20%;
    //     height: 2px;
    //     background-color: color.$color-blue200;
    //     position: absolute;
    //     bottom: 0;
    //     left: 5%;

    //     @include desktop {
    //         width: 160px;
    //         left: 212px;
    //     }
    // }
}
