@use '../abstract/color';
@use '../abstract/breakpoint';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: color.$color-blue100;

  .filteredTask_display {
    width: 220px;
    height: 76px;
    line-height: 76px;
    font-size: 24px;
    color: color.$color-blue200;
  }
  .toggle_btn[data-toggle=true] + div {
    display: flex;
    align-items: center;
  }
  .filteredTask_btn_group {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background: color.$color-blue100;
  }
  @include breakpoint.tablet {
    flex-wrap: wrap;
    .filteredTask_btn_group {
      display: block;
      position: unset;
    }
    .filteredTask_display {
      display: none;
    }
    .toggle_btn {
      display: none;
    }
}
}
