$light-blue: #4a90e2;
$dark-blue: #00408b;
$red: #d0021b;
$light-yellow: #fff2dc;
$dark-yellow: #f5a623;
$pale-grey: #f2f2f2;
$light-grey: #e1e1e1;
$medium-grey: #c8c8c8;
$dark-grey: #757575;
$white: #ffffff;
$black: #000000;
