$color-blue100:#4A90E2;
$color-blue200:#00408B;
$color-danger:#D0021B;
$color-yellow100:#FFF2DC;
$color-yellow400:#F5A623;
$color-grey100:#F2F2F2;
$color-grey200:#E1E1E1;
$color-grey300:#C8C8C8;
$color-grey400:#757575;
$color-white:#FFFFFF;
$color-black:#000000;

