.task-btn {
  font-size: 0;
  &-basic {
    width: 50%;
    font-size: 14px;
    line-height: 2.5;
    font-weight: 300;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
  }
  &-cancel {
    background: $white;
    color: $blood-red;
    &:hover, &:active {
      background: $blood-red;
      color: $white;
    }
  }
  &-save {
    background: $royal-blue;
    color: $white;
    &:hover, &:active {
      background: $white;
      color: $royal-blue;
      border-left: 1px solid $light-gray;
    }
  }
}

@include mediaquery_pad {
  .task-btn {
    &-basic {
      font-size: 24px;
    }
  }
}