.checkbox {
  display: inline-block;
}
.check-itself {
  display: none;
}
.check-custom {
  display: inline-block;
  vertical-align: middle;
  background: $white;
  padding: 2px 3px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  color: $white;
}

//check-itself 的 id 值用 js 賦予新的值
.check-itself:checked ~ .check-custom {
  background: $royal-blue;
}

@include mediaquery_pad {
  .check-custom {
    font-size: 18px;
    margin-right: 5px;
  }
}