.task-form {
  padding: 25px 38px 0 38px;
  border-top: 1px solid $mid-gray;
  &-item {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
      @include fontstyle(14px, 700, $black, 1.6);
      i {
        padding-right: 5px;
      }
    }
    input {
      line-height: 28px;
      padding-left: 5px;
      width: 35%;
      min-width: 120px;
      &:first-child {
        margin-bottom: 5px;
      }
    }
    form, .file-add, textarea {
      margin: 0 18px;
    }
    .file-add-button {
      padding: 6px 8px;
      background: $mid-gray;
      border-radius: 1px;
      color: $white;
      cursor: pointer;
      &:active, &:hover {
        background: $royal-blue;
      }
    }
    .file-caption {
      display: none;
    }
    textarea {
      width: calc(100% - 18px);
      height: 120px;
      padding: 8px 18px;
      &::placeholder {
        color: $mid-gray;
      }
    }
  }
}

@include mediaquery_pad {
  .task-form {
    padding: 25px 68px 0 68px;
    &-item {
      h3 {
        font-size: 20px;
      }
      input {
        min-width: 140px;
      }
      input, textarea {
        font-size: 14px;
      }
    }
  }
}