.task-mark {
  padding-top: 5px;
  &-star { //暗星星
    display: inline-block;
    padding-right: 8px;
    &-shiny { //亮星星
      display: inline-block;
      padding-right: 8px;
      color: $yolk-yellow;
    }
  }
  &-pen {
    display: inline-block;
    color: $mid-gray;
  }
}
.invisible {
  display: none; //星星效果
}
.current-pen {
  color: $royal-blue;
}

@include mediaquery_pad {
  .task-mark {
    font-size: 24px;
    &-mark-star, &-mark-star-shiny {
      padding-right: 15px;
    }
  }
}
