@use '../abstract/color';
@use '../abstract/typography';
@use '../abstract/breakpoint' as *;

.event_add {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid color.$color-grey300;
    border-radius: 5px 5px 0 0;
    background: color.$color-grey100;
    @include desktop {
        width: 620px;
    }
    > h2 {
        padding: 1.5rem 1rem;
        margin-bottom: 10px;
        border-bottom: 2px solid color.$color-grey300;
        border-radius: 5px 5px 0 0;

        @include desktop {
            padding: 1.5rem 2rem;
        }
        button {
            display: flex;
            align-items: center;
            width: 100%;
            input[type='checkbox'] {
                width: 24px;
                height: 24px;
            }
            textarea {
                background: none;
                flex: 1 1 auto;
                height: 28px;
                line-height: 28px;
                padding-left: 1rem;
                &::placeholder {
                    @extend %title;
                    color: black;
                }
                @include desktop {
                    flex: 1 1 275px;
                }
            }
            i {
                font-size: 24px;
                + i {
                    margin-left: 20px;
                }
            }
        }
    }
}

.event_add {
    form {
        padding: 0 1rem;
        @include desktop {
            padding: 0 4.5rem;
        }
        h3 {
            margin-bottom: 8px;
            label {
                @extend %subtitle;
                font-size: 20px;
            }
        }
        input {
            box-sizing: border-box;
            width: 48%;
            height: 35px;
            padding-left: 10px;
            &::placeholder {
                color: color.$color-grey300;
            }
            @include desktop {
                width: 162px;
                padding-left: 20px;
                margin-left: 20px;
            }
        }
        .attachment {
            margin-left: 20px;
            background: color.$color-grey300;
            width: 32px;
            height: 32px;
            border-radius: 2px;
            color: white;
            font-size: 24px;
        }
        textarea {
            box-sizing: border-box;
            width: 100%;
            padding: 8px 8px;
            margin-bottom: 1rem;
            &::placeholder {
                color: color.$color-grey300;
            }
            @include desktop {
                width: 413px;
                padding: 8px 16px;
                margin: 0 0 20px 16px;
            }
        }
    }
}
