.add {
  margin-bottom: 24px;
}

.add-form {
  background: $white;
  border-radius: 3px;
  border: 1px solid $mid-gray;
  padding: 5px;
  font-size: 0;
  button, input::placeholder {
    @include fontstyle(14px, regular, $light-gray, 1.6);
  }
  button {
    display: inline-block;
    vertical-align: middle;
    background: inherit;
    &:active {
      color: $mid-gray;
    }
  }
  input {
    display: inline-block;
    vertical-align: middle;
  }
}

@include mediaquery_pc {
  .add-form {
    button, input, input::placeholder {
      font-size: 24px;
    }
  }
}