@import "./card-component/title";
@import "./card-component/button";
@import "./card-component/checkbox";
@import "./card-component/mark";
@import "./card-component/tag";
@import "./card-component/form";

.task {
  background: $feather-gray;
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden; //避免內容蓋掉圓弧
}