$navy-blue: #4A90E2;
$royal-blue: #00408B;
$cream-yellow: #FFF2DC;
$yolk-yellow: #F5A623;
$blood-red: #D0021B;

$feather-gray: #F2F2F2;
$light-gray: #E1E1E1;
$mid-gray: #C8C8C8;
$heavy-gray: #757575;

$black: #000;
$white: #fff;