$phone-width: 576px;
$pad-width: 768px;
$pc_width: 992px;

@mixin mediaquery_phone {
  @media all and (min-width: $phone-width) {
    @content;
  } 
}

@mixin mediaquery_pad {
  @media all and (min-width: $pad-width) {
      @content;
  }
}

@mixin mediaquery_pc {
  @media all and (min-width: $pc-width) {
      @content;
  }
}