@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

html {
  font-family: 'Roboto', 'sans-serif';
}

@mixin fontstyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
